body {
  font-family: sans-serif;
}

.wrapper_circle {
  width: 100vw;
  display: flex;
  justify-content: left;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: 1s;
  margin-right: -30px;
}

.circle:hover {
  width: 150px;
  height: 150px;
}

.circle:hover .inside_circle {
  opacity: 100;
}

.container_imgs{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 70%;
  top: 70%;

}

.inside_circle {
  position: relative;

  height: 70px;
  transition: 1s;
  opacity: 0;
}
.down{
    position: relative;
    top: 50%;
    
}


.right {
  z-index: 1;
}

.button_test {
  width: 50px;
  height: 35px;
  margin: 10px;
  border-style: none;
  background-color: lightseagreen;
  color: white;
  border-radius: 5%;
  font-weight: bold;
  transition: 1s;
}

.button_test:hover {
  background-color: seagreen;
}

@media screen and (max-width: 600px) {
  .wrapper_circle {
    flex-direction: column;
  }

  .right {
    margin-top: -30px;
  }
}
